:root {
	--sidebar-width: 250px;
	--logo-height: 160px;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: linear-gradient(90deg, #ff6600 0%, #d89e33 100%) !important;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 3px !important;
}

/* Remove box-shadow from all inputs */
.form-control,
.form-check-input {
	box-shadow: none !important;
}

/* Remove outline from all inputs */
.form-control:focus,
.form-check-input:focus {
	outline: none !important;
	box-shadow: none !important;
}

/*scroll*/
::selection {
	background: #895ffc;
	color: #fff;
	text-shadow: none;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical,
-webkit-scrollbar-thumb:horizontal {
	border-radius: 0px;
	background-image: linear-gradient(90deg, #ff6600 0%, #d89e33 100%) !important;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	background-color: #eef0f4;
}

.rounded-6 {
	border-radius: 6px;
}

.btn {
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
	border: none;
}

.line-clap {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}


/*top-header*/
/* Pages */

/* Login & Signup Page*/
.login-page,
.sign-up-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	overflow: hidden;
}

.login-bg-shaps-1,
.sign-up-bg-shaps-1 {
	top: 0%;
	left: 0%;
	z-index: 1;
}

.login-bg-shaps-2,
.sign-up-bg-shaps-2 {
	bottom: 0%;
	right: 0%;
	z-index: 1;
}

.login-wrapper,
.sign-up-wrapper {
	max-width: 500px;
	width: 100%;
	background: #FFF;
	box-shadow: 5px 24px 32px 0px rgba(23, 23, 23, 0.09);
	padding: 30px 25px;
	z-index: 10;
}

.login-wrapper h3,
.sign-up-wrapper h3 {
	color: #000;
	font-size: 30px;
	font-weight: 500;
	text-align: left;
	width: 100%;
}

.login-wrapper .input-icon-wrapper,
.sign-up-wrapper .input-icon-wrapper {
	margin-top: 20px;
	z-index: 1;
}

.login-wrapper .input-icon-wrapper .input-icons,
.sign-up-wrapper .input-icon-wrapper .input-icons {
	pointer-events: none;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
	z-index: 6;
	pointer-events: none;
}

.login-wrapper .input-icon-wrapper .show-password-btn,
.sign-up-wrapper .input-icon-wrapper .show-password-btn {
	pointer-events: none;
	top: 50%;
	right: 13px;
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
	pointer-events: all;
	border-radius: 20px;
	padding: 5px 9px;
	border: none;
	background-color: transparent;
}

.login-wrapper .input-icon-wrapper .show-password-btn:hover,
.sign-up-wrapper .input-icon-wrapper .show-password-btn:hover {
	background-color: #b3b3b3a9;
}

.login-wrapper .input-icon-wrapper input,
.sign-up-wrapper .input-icon-wrapper input {
	color: #8C8C8C;
	font-size: 14px;
	font-weight: 400;
	border: none;
	background: #F9F9F9;
	padding: 14px 20px 14px 45px;
	position: relative;
	z-index: 2;
}

.login-wrapper .input-icon-wrapper.input-show-password input,
.sign-up-wrapper .input-icon-wrapper.input-show-password input {
	padding: 14px 45px;
}

.login-wrapper .input-wrapper,
.sign-up-wrapper .input-wrapper {
	color: #8C8C8C;
	font-size: 14px;
	font-weight: 400;
	margin-top: 12px;
}

.login-wrapper .input-wrapper input[type="checkbox"],
.sign-up-wrapper .input-wrapper input[type="checkbox"] {
	position: relative;
	top: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 2px;
}

.login-wrapper button.btn,
.sign-up-wrapper button.btn {
	background: linear-gradient(90deg, #ff6600 0%, #d89e33 100%);
	margin-top: 10px;
	color: #FFF;
}

.login-wrapper .extra-fields,
.sign-up-wrapper .extra-fields {
	margin-top: 15px;
}

.login-wrapper .extra-fields p,
.sign-up-wrapper .extra-fields p {
	color: #8C8C8C;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.login-wrapper .extra-fields p a,
.sign-up-wrapper .extra-fields p a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

/* Dashboard Page */
/* Dashboard Page */
.dashboard {
	display: flex;
	min-height: 100vh;
	align-items: stretch;
}

/* Sidebar styles */
.sidebar {
	width: var(--sidebar-width);
	background-color: #2b303c;
	height: 100vh;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 100;
	overflow: hidden;
}

/* Logo styles */
.logo {
	height: var(--logo-height);
	color: #3C3C3C;
	justify-content: center;
}

.logo .main-logo {
	width: 200px;
}

.logo .cancel-icon {
	display: none;
	width: 20px;
	cursor: pointer;
}

/* Navigation styles */
.navigation {
	height: calc(100% - 180px);
	overflow-y: auto;
}

.navigation ul {
	list-style: none;
	padding: 0;
}

.navigation li {
	background-color: #2b303c;
}

.navigation li a,
.navigation li button {
	padding: 14px 15px !important;
	text-decoration: none;
	display: flex !important;
	align-items: flex-end;
	background-color: transparent;
}

.navigation li img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.navigation li a span,
.navigation li button {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.navigation li.active {
	/* background: linear-gradient(90deg, #756AF0 0%, #978EF4 100%) !important; */
	background: linear-gradient(90deg, #ff6600 0%, #d89e33 100%) !important;
}

.navigation li.active a>span img {
	filter: brightness(0) invert(1);
}

.navigation li.active a>span {
	color: #FFF !important;
	font-weight: 600 !important;
}

/* Scrollbar styles (optional) */
.navigation::-webkit-scrollbar {
	width: 5px;
}

.navigation::-webkit-scrollbar-track {
	background: transparent;
	/* Change background color as needed */
}

.accordion-header {
	background-color: #2b303c !important;
}

.accordion-button::after {
	width: 14px;
	height: 14px;
	background-size: 14px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238C8C8C'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed) {
	/* background-color: #000 !important; */
	color: #fff !important;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238C8C8C'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.accordion-collapse.show {
	background-color: #212429 !important;
	color: #696969 !important;
}

.accordion-item {
	border: none !important;
}

.accordion-button {
	box-shadow: none !important;
	background-color: transparent !important;
}

.accordion-body {
	padding: 0%;
}


.inner-menu li {
	background-color: black;
}

/* Main content styles */
.main-wrapper {
	width: calc(100% - var(--sidebar-width));
	margin-left: var(--sidebar-width);
	background-color: #F1F1F1;
}

.top-header {
	padding: 15px 20px;
	background-color: #2b303c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 2;
	transition: top 0.3s;
}

.alert-wrapper {
	gap: 50px;
}

.toggle-button {
	display: none;
}

.toggle-button img {
	width: 30px;
}

.toggle-button .hamburger {
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

.notifications-wrapper {
	cursor: pointer;
}

.notifications-wrapper img {
	width: 30px;
	height: 30px;
}

.notifications-wrapper button {
	background-color: transparent;
	border: none;
	padding: 0%;
}

/* Badge styles */
.alert-wrapper .badge {
	background-color: #F00;
	color: #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -9px;
	right: -2px;
	font-size: 9px;
	line-height: 1;
	font-weight: 500;
}

.user-dropdown-wrapper .user-info .user-name {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}

.user-dropdown-wrapper .user-info .user-role {
	color: #8C8C8C;
	font-size: 12px;
	font-weight: 400;
}

.user-dropdown-wrapper .user-avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-left: 6px;
	border: none;
	padding: 0%;
}

.user-dropdown-wrapper .user-avatar .online {
	width: 16px;
	height: 16px;
	background-color: #fff;
	padding: 3px;
	border-radius: 50%;
	position: absolute;
	bottom: 0px;
	right: 0;
}

.user-dropdown-wrapper .user-avatar .online::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #16EB04;
}

.user-dropdown-wrapper .user-avatar img {
	display: block;
	object-fit: contain;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.user-dropdown-wrapper .user-avatar .user-name-badge {
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #46999F;
}

.profile-user-dropdown-content-wrapper {
	top: 10px !important;
}

/* dashboard-page-main-wrapper */
.dashboard-page-main-wrapper {
	width: 100%;
	height: auto;
	gap: 10px;
	margin-top: 40px;
	display: flex;
	gap: 15px;
}

.dashboard-page-main-wrapper .total-number-section-wrapper {
	width: 65%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.dashboard-page-main-wrapper .total-number-section-wrapper>.d-flex {
	width: 100%;
	gap: 15px;
}

.dashboard-page-main-wrapper .total-number-section-wrapper .total-number-wrapper {
	height: auto;
	width: 33%;
	border-radius: 12px;
	background: #FFF;
	padding: 30px 10px;
	gap: 15px;
}

.dashboard-page-main-wrapper .total-number-wrapper .total-number-image {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;

}

.dashboard-page-main-wrapper .total-number-wrapper .total-number-image img {
	width: 46px;
	height: 46px;
	display: block;
}

.dashboard-page-main-wrapper .total-number-wrapper .total-number-counting {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.dashboard-page-main-wrapper .total-number-wrapper .total-number-counting>span:nth-child(1) {
	color: #000;
	font-size: 22px;
	font-weight: 500;
}

.dashboard-page-main-wrapper .total-number-wrapper .total-number-counting>span:nth-child(2) {
	color: #8C8C8C;
	font-size: 14px;
	font-weight: 400;
}

.dashboard-page-main-wrapper .dashboard-notification-wrapper {
	width: 35%;
	background-color: #fff;
	padding: 25px;
	border-radius: 12px;
}

.dashboard-page-main-wrapper .dashboard-notification-wrapper .dashboard-notification-header {
	border-bottom: 2px solid #D9D9D9;
	padding-bottom: 20px;
}

.dashboard-page-main-wrapper .dashboard-notification-wrapper .dashboard-notification-header span:nth-child(1) img {
	width: 25.488px;
	height: 25.488px;
	display: block;
	margin-right: 10px;
}

.dashboard-page-main-wrapper .dashboard-notification-wrapper .dashboard-notification-header span:nth-child(2) {
	color: #000;
	font-size: 20px;
	font-weight: 400;
}

.dashboard-page-main-wrapper .dashboard-notification-wrapper .dashboard-notification-header a {
	color: #756AF0;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

.dashboard-page-main-wrapper .dashboard-notification-wrapper .dashboard-notification-list ul {
	list-style-type: none;
}

.dashboard-page-main-wrapper .dashboard-notification-wrapper .dashboard-notification-list ul a {
	display: block;
	padding: 12px 0px;
	text-decoration: none;
}

.dashboard-page-main-wrapper .dashboard-notification-wrapper .dashboard-notification-list ul a div:nth-child(1) {
	gap: 10px;
}

.dashboard-page-main-wrapper .dashboard-notification-list .notification-badge {
	width: 42px;
	height: 42px;
	background-color: #E8E8E8;
	color: #756AF0;
	font-size: 18px;
	font-weight: 400;
	border-radius: 50%;
	display: block;
}

.dashboard-page-main-wrapper .dashboard-notification-list .notification-small-heading {
	color: #000;
	font-size: 14px;
	font-weight: 500;
}

.dashboard-page-main-wrapper .dashboard-notification-list .notification-description,
.dashboard-page-main-wrapper .dashboard-notification-list .notification-date {
	color: #8C8C8C;
	font-size: 12px;
	font-weight: 400;
}

/* Main Page Section 2 */
/* Common Style start */
.dashboard-page-main-wrapper .dashboard-store-wrapper .dashboard-store-header {
	border-bottom: 2px solid #D9D9D9;
	padding-bottom: 20px;
}

.dashboard-page-main-wrapper .dashboard-store-wrapper .dashboard-store-header span:nth-child(1) img {
	width: 25.488px;
	height: 25.488px;
	display: block;
	margin-right: 10px;
}

.dashboard-page-main-wrapper .dashboard-store-wrapper .dashboard-store-header span:nth-child(2) {
	color: #000;
	font-size: 20px;
	font-weight: 400;
}

.dashboard-page-main-wrapper .dashboard-store-wrapper .dashboard-store-header a {
	color: #756AF0;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

/* Common Style end */
.dashboard-page-main-wrapper .dashboard-store-wrapper {
	width: 65%;
	background-color: #fff;
	padding: 25px;
	border-radius: 12px;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper {
	width: 100%;
	overflow: auto;
}


.dashboard-page-main-wrapper .dashboard-store-table-wrapper::-webkit-scrollbar {
	width: 5px !important;
	border-radius: 10px;
	background: transparent !important;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper::-webkit-scrollbar-button:start:decrement,
.dashboard-page-main-wrapper .dashboard-store-table-wrapper::-webkit-scrollbar-button:end:increment {
	display: none;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: linear-gradient(90deg, #ff6600 0%, #d89e33 100%) !important;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper::-webkit-scrollbar-thumb:horizontal {
	min-width: 5px;
	/* Adjust the min-width to control the width of the horizontal scrollbar */
	background-image: linear-gradient(90deg, #ff6600 0%, #d89e33 100%) !important;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper table {
	width: 100%;
	min-width: 768px;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper table tr {
	border-bottom: 1px solid #D0D3D9;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper table tbody tr:last-child {
	border-bottom: none;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper table th,
.dashboard-page-main-wrapper .dashboard-store-table-wrapper table td {
	padding: 12px;
	font-size: 14px;
	color: #000;
	line-height: 20px;
	font-weight: 400;
}

.dashboard-page-main-wrapper .dashboard-store-table-wrapper table th {
	font-weight: 500;
	color: #8C8C8C;
}

/* Invertory Page */
.main-content-wrapper {
	padding: 15px;
}

/* Store Page */
.main-inventory-heading {
	margin-bottom: 10px;
}



/* Mobile responsiveness */
@media (max-width: 1200px) {

	/* Sidebar Container */
	.sidebar {
		transition: all .3s linear;
		transform: translateX(-100%);
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}

	.sidebar.active {
		transform: translateX(0%)
	}

	.logo {
		padding-left: 10px;
		padding-right: 20px;
		font-size: 24px;
		justify-content: space-between;
	}

	/* .logo .main-logo {
		width: 100px;
	} */

	.logo .cancel-icon {
		display: block;
		width: 20px;
	}

	.navigation li a span,
	.navigation li button {
		font-size: 14px;
	}


	/* Top-Header */

	.top-header {
		padding: 20px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}

	.alert-wrapper {
		gap: 20px;
	}

	.toggle-button {
		display: block;
	}

	.notifications-wrapper,
	.toggle-button {
		width: 30px;
	}

	.alert-wrapper .badge {
		width: 22px;
		height: 22px;
		top: -9px;
		right: -9px;
		font-size: 10px;
		font-weight: 500;
	}

	.user-dropdown-wrapper .user-info .user-name {
		font-size: 16px;
	}

	.user-dropdown-wrapper .user-info .user-role {
		font-size: 12px;
	}


	.user-dropdown-wrapper .user-avatar {
		width: 50px;
		height: 50px;
	}

	.user-dropdown-wrapper .user-avatar .user-name-badge {
		font-size: 18px;
	}

	.profile-user-dropdown-content-wrapper a {
		font-size: 14px;
	}

	/* Main Wrapper Container */
	.main-wrapper {
		width: 100%;
		margin-left: 0px;
	}

}


@media (max-width: 980px) {
	.dashboard-page-main-wrapper {
		flex-direction: column;
	}

	.dashboard-page-main-wrapper>div {
		width: 100% !important;
	}

	.main-wrapper .total-number-wrapper .total-number-counting>span:nth-child(1) {
		font-size: 20px;
	}

}


@media (max-width: 768px) {

	/* Top Header */
	.top-header {
		padding: 15px;
		gap: 10px;
	}

	.user-dropdown-wrapper .user-info {
		display: none !important;
	}

	.alert-wrapper {
		gap: 10px;
		margin-right: 10px;
	}

	.user-dropdown-wrapper .user-avatar {
		width: 40px;
		height: 40px;
	}

	.user-dropdown-wrapper .user-avatar .user-name-badge {
		font-size: 16px;
	}

	.user-dropdown-wrapper .user-avatar .online {
		bottom: -2px;
		right: -16%;
	}

	/* .sidebar {
		width: 350px;
		height: 100%;
	} */

	.dashboard-page-main-wrapper {
		margin-top: 20px;
	}

	.dashboard-page-main-wrapper .dashboard-notification-wrapper,
	.dashboard-page-main-wrapper .dashboard-store-wrapper {
		padding: 15px;
	}

	.dashboard-page-main-wrapper .total-number-section-wrapper>.d-flex:nth-child(2),
	.dashboard-page-main-wrapper .total-number-section-wrapper>.d-flex:nth-child(3) {
		display: none !important;
	}

	.dashboard-page-main-wrapper .total-number-wrapper .total-number-image {
		display: none;
	}

	.dashboard-page-main-wrapper .total-number-wrapper .total-number-counting {
		width: 100%;
		text-align: center;
	}

	.main-content-wrapper {
		margin-top: 20px;
	}

}


@media (max-width: 500px) {
	.sidebar {
		width: 100%;
	}

	.dropdown-menu {
		top: 60% !important;
	}

	.dropdown-item {
		font-size: 14px;
	}


}




@media (max-width: 1440px) {}

@media (max-width: 1024px) {}

@media (max-width:1200px) {}


@media (min-width: 440px) and (max-width: 740px) {}

@media (max-width: 425px) {}



.bg-google {
	background-color: #4b8cf4;
}

.bg-facebook {
	background-color: #1877F2;
}

.bg-instagram {
	background-color: #E1306C;
}

.bg-linkedin {
	background-color: #0077B5;
}

label.error {
	color: #F00;
	font-size: 12px;
}

.bg-theme {
	background: linear-gradient(90deg, #ff6600 0%, #d89e33 100%) !important;
}

.swal2-confirm.btn.btn-success {
	background: linear-gradient(90deg, #ff6600 0%, #d89e33 100%) !important;
	margin-left: 10px !important;
}